body {
  font-size: 150%;
  margin: 0;
  text-align: center;
  font-family: 'Indie Flower', cursive;
}

h1 {
  color: #C05555;
  line-height: 2;
  font-size: 3rem;
margin-top: 2.5rem auto 0 auto;
font-family: 'Indie Flower', cursive;
}

h2 {
  color: #D35D6E;
  font-size: 2.5rem;
font-family: 'Indie Flower', cursive;

}

h3 {
  color: #C26565;
font-family: 'Indie Flower', cursive;
}

p {
  line-height: 2;
}

hr {
  border: dotted;
  border-bottom: none;
  border-color: pink;
  width:15%;
  margin: 100px auto;
}

a{
  color: #C05555;
  font-family: 'Indie Flower', cursive;
  margin: 10px 20px;
  text-decoration: none;
}
a:hover{
  color: #FF9292;
}

.top-container {
  background-color: #FFDCDC;
  position: relative;
  padding-top: 80px
}

.middle-container {
  background-color: #FFE8E8;
  position: relative;
  text-align: center;
}

.bottom-container {
  background-color: #FFC7C7;
  position: relative;
  padding: 50px 0 20px;

}

.skill-row {
width: 50%;
margin: 100px auto 100px auto;
text-align: left;
line-height: 2;
}

.pro {
  text-decoration: underline;
}

.contact-me {
  width: 40%;
  margin: 40px auto 60px;
}

.copyright {
  color: #F39189;
  font-size: 1rem;
  padding: 20px 0;
}

.top-piano6 {
  position: absolute;
  left: 50px;
  top:30px;
}


.top-treble {
  position: absolute;
  left: 1000px;
  top:10px;
}

.treble {
  position: absolute;
  right: 1000px;
  top:10px;
}

.bottom-cherry {
  position: absolute;
  left: 300px;
  bottom: 300px;
}
.cherry {
  position: absolute;
  right: 300px;
  bottom: 20px;
}

.skill2 {
  float: left;
  margin-right: 30px;
}
.skills {
  float: right;
  margin-left: 30px;
}

.btn {
  background: #ff9ebe;
  background-image: -webkit-linear-gradient(top, #ff9ebe, #e63e7f);
  background-image: -moz-linear-gradient(top, #ff9ebe, #e63e7f);
  background-image: -ms-linear-gradient(top, #ff9ebe, #e63e7f);
  background-image: -o-linear-gradient(top, #ff9ebe, #e63e7f);
  background-image: linear-gradient(to bottom, #ff9ebe, #e63e7f);
  -webkit-border-radius: 8;
  -moz-border-radius: 8;
  border-radius: 8px;
  font-family: 'Indie Flower', cursive;
  color: #ffffff;
  font-size: 20px;
  padding: 10px 20px 10px 20px;
  text-decoration: none;
}

.btn:hover {
  background: #f07398;
  background-image: -webkit-linear-gradient(top, #f07398, #f53b6f);
  background-image: -moz-linear-gradient(top, #f07398, #f53b6f);
  background-image: -ms-linear-gradient(top, #f07398, #f53b6f);
  background-image: -o-linear-gradient(top, #f07398, #f53b6f);
  background-image: linear-gradient(to bottom, #f07398, #f53b6f);
  text-decoration: none;
}
